*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgb(37, 37, 37);
    flex-direction: column;
    padding: 50px 0;
}

section h1{
    color: rgba(255, 255, 255, 0.322);
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin-bottom: 10px;
}

section p{
    color: rgba(255, 255, 255, 0.322);
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
}

.texts p{
    width: 100%;
    color: black;
    text-align: left;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.texts p.reply{
    text-align: right;
}