:root {
  --light-yellow: #f5e8b9b2;
  --purpple: #b597f4;
  --purple2: #ab87f6;
  --pink: #f7aec7;
  --white: #fff;
  --blue: #c1eafc;
  --dark_blue: #77cbef;
}
@font-face {
  font-family: "Sniglet";
  src: url(Sniglet/Sniglet-Regular.ttf);
}

body {
  font-family: "Sniglet", sans-serif;
  line-height: 1.5;
}

/*Navigation*/

.navigation {
  background: var(--pink);
  padding: 10px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  position: fixed;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
}
.nav-list a {
  margin: 50px;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li a:hover {
  color: var(--dark_blue);
  font-size: 26px;
}
/*Section 1
welcome-section */

#welcome-section {
  display: flex;
  flex: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.special-section {
  background-image: url(project.img/pattern_circles-4_1_7_0-0_145_1__ffffff_ffec3d57.png);
  background-repeat: repeat;
  background-attachment: local;
  background-position: center center;
  padding: 20px;
}

.text {
  width: 50%;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: var(--purpple);
  font-size: 60px;
  font-weight: 400;
}
#welcome-section p {
  color: var(--purpple);
  font-size: 30px;
  font-weight: 100;
}

.photo {
  width: 400px;
  height: auto;
  border-radius: 40%;
  box-shadow: 2px 1px 80px 0px var(--light-yellow);
}
.botton {
  display: flex;
  justify-content: center;
  text-align: center;
  background: var(--pink);
  width: 200px;
  height: 50px;
  border-radius: 40px;
}
.botton a {
  text-decoration: none;
  color: var(--white);
  text-align: center;
  font-size: 17px;
  margin: 15px;
}

.botton:hover {
  transform: scale(1.1);
}
/*Section 2
about_me */

#about_me {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: left;
  margin-bottom: 50px;
}

.about_me_header {
  font-size: 45px;
  margin: 0px 10px 0px 20px;
  color: var(--pink);
}
.article_text {
  color: var(--purpple);
  font-size: 27px;
  line-height: 1.5;
  margin: 10px 10px 20px 20px;
}

.pictogramma {
  width: 800px;
  height: auto;
}

.text-pictogramma {
  display: none;
}

/*Section 3
Projects*/

#projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 0px;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  height: 100vh;
}
.projects-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.projects-header {
  padding: 20px;
  font-size: 50px;
  color: var(--pink);
  text-align: center;
}
.survey_form_img,
.tribute_page_img {
  width: 400px;
  height: auto;
  border-radius: 20px;
  padding: 10px;
  margin: 20px 40px;
  box-shadow: 2px 1px 40px var(--dark_blue);
}

.survey_form_img:hover {
  transform: scale(1.1);
}

.tribute_page_img:hover {
  transform: scale(1.1);
}

/*Section 4
Contact section*/

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.contact-header {
  font-size: 60px;
  margin: 0px 10px;
  color: var(--dark_blue);
}
.contact-desc {
  color: var(--pink);
  font-size: 30px;
}

.contact-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}

.contact-list li {
  flex-basis: calc(20% - 10px);
  margin: 5px;
}

.contact-list a {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.contact-list img {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}
.contact-info {
  flex: 1;
}

.contact-list a:hover {
  transform: scale(1.2);
}

/*footer*/

footer {
  background: var(--blue);
  padding: 20px;
}
footer p {
  color: var(--pink);
  text-align: center;
}

/*Adaptation 420px*/

@media (max-width: 420px) {
  .navigation {
    padding: 10px 0px;
    height: 60px;
    font-size: 18px;
  }

  .nav-list {
    list-style: none;
    padding: 0px 10px;
    display: flex;
  }

  .nav-list a {
    margin: 10px;
    text-decoration: none;
    color: var(--white);
  }

  #welcome-section {
    display: flex;
    height: 100vh;
    flex-direction: column-reverse;
  }
  h1 {
    font-size: 18px;
  }

  #welcome-section p {
    font-size: 14px;
    text-align: center;
  }

  .photo {
    width: 170px;
    height: auto;
  }
  #about_me {
    display: inline;
  }

  .about_me_header {
    font-size: 24px;
  }

  .article_text {
    font-size: 15px;
    margin: 10px 10px 10px 20px;
  }
  .pictogramma {
    display: none;
  }
  .text-pictogramma {
    display: inline;
    color: var(--dark_blue);
    text-align: center;
    font-size: 15px;
  }
  .text-pictogramma ul {
    list-style: none;
    padding: 10px 5px;
  }
  .text-pictogramma li {
    margin-top: 15px;
    padding-top: 10px;
  }
  .text-pictogramma strong {
    font-size: 17px;
    color: var(--purple2);
  }

  #projects {
    display: flex;
    background: var(--light-yellow);
    height: 100vh;
  }

  .projects-header {
    font-size: 40px;
    margin-top: 20px;
  }

  .survey_form_img {
    width: 300px;
    height: auto;
    border-radius: 40px;
  }

  .contact-header {
    font-size: 40px;
  }
  .contact-desc {
    color: var(--pink);
    font-size: 20px;
  }

  .contact-list img {
    width: 40px;
    height: 40px;
  }
}

/*Adaptation 820px*/

@media (max-width: 820px) {
  .navigation {
    margin-bottom: 5px;
    height: 80px;
    font-size: 16px;
  }

  .navigation ul li a:hover {
    color: var(--dark_blue);
    font-size: 17px;
  }
  .text-pictogramma {
    display: none;
  }

  #welcome-section p {
    font-size: 18px;
  }

  .photo {
    width: 200px;
    height: auto;
  }

  .about_me_header {
    font-size: 20px;
  }
  .article_text {
    font-size: 13px;
  }

  .pictogramma {
    width: 400px;
    height: auto;
  }
  #about_me {
    display: block;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  #projects {
    display: flex;
    background: var(--light-yellow);
    height: 100vh;
  }

  .projects-header {
    font-size: 30px;
  }

  .survey_form_img,
  .tribute_page_img {
    width: 300px;
    height: auto;
    border-radius: 40px;
    margin: 5px 10px;
  }

  .contact-header {
    font-size: 40px;
  }
  .contact-desc {
    color: var(--pink);
    font-size: 20px;
  }

  .contact-list img {
    width: 40px;
    height: 40px;
  }
}

/*Adaptation 1200px*/

@media (max-width: 1200px) {
  .navigation {
    margin-bottom: 5px;
    height: 50px;
    font-size: 16px;
  }

  h1 {
    font-size: 40px;
  }
  #welcome-section p {
    font-size: 25px;
  }

  .photo {
    width: 300px;
    height: auto;
  }
  .about_me_header {
    font-size: 35px;
  }
  .article_text {
    font-size: 25px;
  }
  .pictogramma {
    width: 40rem;
    height: auto;
    margin: 60px 0px;
  }
  .text-pictogramma {
    display: none;
  }
  #about_me {
    display: inline-block;
    text-align: center;
    height: 100vh;
  }
  #projects {
    display: flex;
    background: var(--light-yellow);
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .projects-header {
    font-size: 40px;
  }

  .survey_form_img,
  .tribute_page_img {
    width: 350px;
    height: auto;
    border-radius: 40px;
  }

  .contact-header {
    font-size: 40px;
  }
  .contact-desc {
    font-size: 30px;
  }

  .contact-list img {
    width: 60px;
    height: 60px;
  }
}
