#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.add-new-todo {
  color: rgb(2, 0, 51);
  text-align: center;
  border: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: rgb(0, 22, 104);
  background-color: rgb(246, 246, 246);
  padding: 15px;
  text-wrap: nowrap;
}

.button {
  border-color:rgb(0, 0, 51);
  padding: 3px;
  font-size: small;
}

.todo-list {
  color: rgb(2, 0, 51);
  text-align: left;
  border: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: rgb(0, 22, 104);
  background-color: rgb(246, 246, 246);
  padding: 15px;
  text-wrap: nowrap;
}


.todo-header {
  text-align: center;
  color: brown;
}


p {
  color: rgb(68, 22, 0);
  text-align: center;
}
