.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 248, 248);
  height: 100dvh;
  width: 100vw;
}
.app_title {
  font-size: 50px;
}
.app_description {
  font-size: 18px;
  font-style: italic;
  opacity: 0.6;
}

.add_todo_form {
  display: flex;
  margin-bottom: 10px;
}
.add_todo_input {
  flex: 1;
  margin-right: 10px;
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #213547;
}

.todo_list_checkbox {
  width: 25px;
  height: 25px;
  cursor: pointer;
  accent-color: #85d7f7;
}

.done {
  text-decoration: line-through;
}

.add_todo_button {
  width: 140px;
  height: 40px;
  background-color: #85d7f7;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.delete_button {
  background-color: #85d7f7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  width: 22px;
  height: 22px;
  text-align: center;
  margin: 5px;
  padding: 0;
}
.todo_list_ul {
  list-style: none;
  margin: 5px;
  padding: 15px;
}
.todo_list_li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
