.app {
  background-color: rgb(0, 0, 0);
  color: rgb(237, 144, 13);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addTodo {
  display: flex;
  margin-bottom: 5px;
}

.nextTodo {
  margin-right: 20px;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #dfdfd5;
  color: rgb(0, 85, 255);
}

.addTodoButton {
  padding: 5px;
  border: none;
  border-radius: 15px;
  background-color: #00a30e;
  color: #c8ffea;
}

.todo_list_ul {
  margin: 5px;
  padding: 5px;
}

.todo_list_li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.todo_list_checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
  accent-color: #85f798;
}

.done {
  text-decoration: line-through;
}

.delete {
  background-color: #ba0a1f;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  width: 40px;
  height: 20px;
  text-align: center;
  margin: 5px;
  padding: 0;
  text-decoration-line: none;
}