body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 380px;
  height: 100vh;
  background: linear-gradient(
    to right,
    #000409,
    #0a704e,
    #6f9d80,
    #8b4610,
    #0a2957
  );
}

.todo-list {
  margin: 20px auto;
  padding: 20px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #5e4009;
  display: flexbox;
  align-items: center;
  flex-direction: column; /* Arrange items vertically */
  justify-content: center; /* Center items vertically */
}

.todo-list h2 {
  margin-bottom: 10px;
}

.todo-list form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
}

.todo-list input[type="text"] {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
}

.todo-list button {
  padding: 5px 10px;
  background-color: #667707;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-list button:hover {
  background-color: #8b036b;
}
